.table-container{
    height: 95vh;
    overflow: auto; 
}
    
table {
border-collapse: collapse;
margin: 5px;
align-content: center;
border: 1px solid rgb(204, 204, 204);
cursor: pointer;
}

/* .table-row{
    padding:0px;
} */

.table-top-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0px; 
    margin: 1.5%;
}

.buttons-div-one{
    border: none;
}

.buttons-div-two{
    display: flex;
    justify-content: flex-end;
}

.input-group input {
    width: 90%;
}

.add-trade {
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.export-csv, .export-excel, .add-filter{
    margin: 4px;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.options-searchbar{
    margin: 4px;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid rgb(185, 184, 184);
    box-shadow: 1px;
}

    /* New */

/* .TableContainer {
  margin: 20px;
} */

.bordered-table {
  border-collapse: collapse;
  width: 100%;
}

.bordered-table th, .bordered-table td {
  border: 1px solid #dfdfdf;
  text-align: left;
  padding: 8px;
}

.bordered-table th {
  background-color: #f2f2f2;
  font-size: 16px;
}

.bordered-table td {
    /* background-color: #f2f2f2; */
    font-size: 16px;
}

    